.venv/
.env
__pycache__/
*.pyc
# Data is managed by GitHub Actions but we need initial file
# data/latest_news.json 
models_available.txt
models_list.txt
/tmp/
data/raw_debug_news.json
data/from_*.json
/reports/
